* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color--: #fff;
  --secondary-color--: #fafafb;
  --accent-color--: #1a365d;
  --border-radius--: 12px;
  --small-border-radius--: 8px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #111827;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */

.navigation {
  padding: 0.5rem 3rem;
  background: var(--primary-color--);
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlinks {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.navlinks ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navlinks li a {
  color: #111827;
  font-weight: 500;
}

.nav-cta {
  padding: 1rem 1.5rem;
  background: var(--accent-color--);
  color: var(--primary-color--);
  border-radius: var(--small-border-radius--);
}

.navigation .menu {
  display: none;
}
/* Header End */

/* Hero Sectio */

.hero-section {
  background: linear-gradient(rgba(26, 54, 93, 0.7), rgba(26, 54, 93, 0.7)),
    url(images/banner.jpg);
  height: 80vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 9rem;
  left: 7rem;
}

.hero-content h1 {
  color: var(--primary-color--);
  font-size: 3rem;
  line-height: 3rem;
}

.hero-content p {
  color: var(--primary-color--);
  line-height: 1.5rem;
  margin-top: 2rem;
}

.hero-btn {
  margin-top: 2rem;
}

.hero-btn a {
  padding: 1rem 1.5rem;
  background: var(--primary-color--);
  color: var(--accent-color--);
  border-radius: var(--small-border-radius--);
  font-weight: 500;
}

.hero-btn .non-active {
  background: transparent;
  color: var(--primary-color--);
  border: 2px solid var(--primary-color--);
  margin-left: 1rem;
}
/* Hero Sectio End */

/* Practice Area */

.practice-area {
  padding: 2rem 3rem;
  background: var(--secondary-color--);
}

.practice-area-container {
  padding: 2rem;
}

.practice-area-topber {
  text-align: center;
  line-height: 2.5rem;
  padding: 2rem;
}

.practice-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
}

.practice-items {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background: var(--primary-color--);
  padding: 1.5rem;
  border-radius: var(--border-radius--);
}

.practice-items div {
  padding: 0.5rem;
}

.practice-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.practice-cta a {
  padding: 1rem 1.5rem;
  background: var(--accent-color--);
  color: var(--primary-color--);
  border-radius: var(--small-border-radius--);
  font-weight: 500;
}
/* Practice Area End */

/* About Firm Preview */

.about-firm {
  padding: 2rem 3rem;
  background: var(--primary-color--);
}

.about-firm-container {
  padding: 2rem;
}

.about-firm-grid {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

.about-firm-items img {
  width: 100%;
  height: 428px;
  border-radius: var(--border-radius--);
}

.about-firm-items-right {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.about-sub-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.sub-grid-items {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  background: var(--secondary-color--);
  border-radius: var(--border-radius--);
}

.sub-heading {
  font-weight: bold;
  font-size: 1.5rem;
}

.about-firm-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.about-firm-cta a {
  padding: 1rem 1.5rem;
  background: var(--accent-color--);
  color: var(--primary-color--);
  border-radius: var(--small-border-radius--);
  font-weight: 500;
}
/* About Firm Preview End */

/* Featured Attorney */

.featured-attorney {
  padding: 2rem 3rem;
  background: var(--secondary-color--);
}

.featured-attorney-container {
  padding: 2rem;
}

.attorney-topber {
  text-align: center;
  line-height: 2.5rem;
  padding: 2rem;
}

.attorney-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.5rem;
}

/* .attorney-items {
  display: flex;
  flex-direction: column;
} */

.attorney-items img {
  width: 100%;
  height: 300px;
  object-position: top;
  object-fit: cover;
}

.attorney-items .img-container {
  position: relative;
}

.arttorney-details {
  position: absolute;
  width: 81%;
  top: 6rem;
  left: 3rem;
  display: none;
}

.attorney-items-text {
  padding: 1rem;
  background: var(--primary-color--);
}

.attorney-items-text {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.icons {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
}

.arttorney-cta {
  margin-top: 2.5rem;
  text-align: center;
  grid-column: 2/3;
}

.arttorney-cta a {
  padding: 1rem 1.5rem;
  background: var(--accent-color--);
  color: var(--primary-color--);
  border-radius: var(--small-border-radius--);
  font-weight: 500;
  grid-column: 2/3;
}
/* Featured Attorney End */

/* Client Testimonial */

.client-testimonial {
  padding: 2rem 3rem;
  background: var(--primary-color--);
}

.client-testimonial-container {
  padding: 2rem;
}

.client-testimonial-topber {
  text-align: center;
  line-height: 2.5rem;
  padding: 2rem;
}

.testimonial-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}

.testimonial-items {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: var(--border-radius--);
}

.profile {
  display: flex;
  gap: 1rem;
}

.profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
/* Client Testimonial End */

/* Contact Section */

.contact-section {
  padding: 2rem 3rem;
  background: var(--secondary-color--);
}

.contact-section-container {
  padding: 2rem;
}

.contact-topber {
  text-align: center;
  line-height: 2.5rem;
  padding: 2rem;
}

.contact-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.contact-items {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background: var(--primary-color--);
  padding: 1.5rem;
  border-radius: var(--border-radius--);
}

.form-topber {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.form-topber input {
  border: 2px solid #ccc;
  width: 236px;
  height: 40px;
  padding-left: 5px;
  border-radius: var(--small-border-radius--);
  outline: 0;
}

.form-topber div {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
}

.contact-items .input-wrap {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  padding: 0.5rem 0;
}

.input-wrap input,
select {
  border: 2px solid #ccc;
  width: 100%;
  height: 40px;
  padding-left: 5px;
  border-radius: var(--small-border-radius--);
  outline: 0;
}

.input-wrap textarea {
  border: 2px solid #ccc;
  width: 100%;
  height: 130px;
  padding: 5px;
  border-radius: var(--small-border-radius--);
  outline: 0;
}

.contact-items .office-items {
  display: flex;
  gap: 1rem;
}

.contact-items-left {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.contact-items-left img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: var(--border-radius--);
}

.contact-items button {
  width: 100%;
  height: 45px;
  background: var(--accent-color--);
  color: var(--primary-color--);
  border-radius: var(--small-border-radius--);
  font-weight: 500;
  border: 0;
}

/* Contact Section End */
